
@keyframes cos{
    0%   {background-color:pink; left:0px; top:0px;}
    25%  {background-color:yellow; left:200px; top:0px;}
    50%  {background-color:blue; left:200px; top:200px;}
    75%  {background-color:green; left:0px; top:200px;}
    100% {background-color: pink; left:0px; top:0px;}
}
div {
    width: 100px;
    height: 100px;
    position:relative;
    background-color: pink;
    color: cyan;
    animation-name: cos;
    animation-duration: 3s;
    animation-delay: 0s;
    animation-iteration-count:0;
}
@keyframes jerma{
    0% {opacity: 0; width: 1000px; height:300px;}
    50% {opacity: 1; width: 4000px; height:800px;}
    100% {opacity:0; width: 100px; height:300px;}

}
body{
    background-color: grey;   
}
img {
    width:400px;
    height:300px;
    animation-name: jerma;
    animation-duration:2s;
    animation-iteration-count: infinite;

}
